@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 36px;
        background-color: variaveis.$corFundo ;
        max-width: 1500px;
        margin: 0 auto;

        @media (max-width: 768px) {
            padding: 0;
        }
    }

    &__logo {
        height: 90px;

        @media (max-width: 768px) {
            height: 70px;
        }
    }

    &__link {
        .button {
            height: 20px;
        }
    }

}