.hero {
    margin-bottom: 60px;
    &__container {
        display: flex;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;

        @media (max-width: 768px) {
            display: block;
            text-align: center;
        }


        p {
            margin-bottom: 16px;
        }
    }

    &__content {
        max-width: 500px;


        @media (max-width: 768px) {
            margin: 0 auto;
            text-align: center;
        }
    }

    &__image {
        max-width: 420px;
        margin-right: 36px;

        @media (max-width: 768px) {
            margin-right: 0;
            max-width: 80%;
        }
    }

}