$corFundo: #000;
$corTituloPrimario: #fff;
$corTituloSecundario: #c8a2c8;
$corTextoPrimaria: #c0c0c0;
$corFundoCard: #fff;
$corFundoBotao: #6a5acd;
$corFundoBotaoSecundaria: #121212;
$fonteTitulosBotoes: "Space Grotesk", sans-serif;
$fonteTexto: "Inter", sans-serif;

