@use 'variaveis';
@use 'header';
@use 'hero';
@use 'personagens';
@use 'leitura';
@use 'faq';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: variaveis.$corFundo;
}

@mixin text($font-size: 16px) {
    font-size: $font-size;
    line-height: $font-size + 10px;
    color: variaveis.$corTextoPrimaria;
    font-family: variaveis.$fonteTexto;
}

@mixin title($font-size: 20px) {
    @include text($font-size);
    color: variaveis.$corTituloPrimario;
    font-family: variaveis.$fonteTitulosBotoes;
}

.text--big {
    @include text(18px);
    margin-bottom: 16px;

    @media (max-width: 767px) {
        @include text(16px);
    }
}

.text {
    @include text();
}
.text--small {
    @include text(14);
    text-align: center
}

.title--big {
    @include title(40px);
    margin-bottom: 20px;
    text-align: center;

    @media (max-width: 767px) {
        @include title(32px);
    }
}

.title {
    @include title(32px);
    margin-bottom: 16px;
}
.title--small {
    @include title(20px);
    margin-bottom: 16px;
    text-align: center;
}

.button {
    height: 60px;
    font-size: 20px;
    width: 100%;
    text-decoration: none;
    background-color: variaveis.$corFundoBotao;
    padding: 8px 14px;
    border-radius: 4px;
    color: variaveis.$corTituloPrimario;
    text-transform: uppercase;

    &:hover {
        background-color: transparent;
        border:1px solid variaveis.$corFundoBotao;
        
    }

    @media (max-width: 767px) {
        font-size: 16px;
        
    }
}